{% extends "base.html" %}

{% block title %}{{ service.car_model }}{% endblock %}

{% block content %}
<div class="card mt-3">
    <div class="card-header bg-primary text-white">
        <h2>{{ service.car_model }}</h2>
    </div>
    <div class="card-body">
        <p><strong>Дата обслуживания:</strong> {{ service.service_date }}</p>
        <p><strong>Описание работ:</strong> {{ service.description }}</p>
        <p><strong>Мастер:</strong> {{ service.mechanic.first_name }} {{ service.mechanic.last_name }} ({{ service.mechanic.specialty }})</p>
    </div>
</div>

<button onclick ="history.back()" class="btn btn-primary mt-3">Назад</a>
{% endblock %}